* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2f5061;
    margin: 0;
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-left, .text-right {
    color: white;
    font-size: 4rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    margin: 0 10px;
    font-family: 'Fugaz One', cursive;
}

.logo {
    width: 120px;
    height: auto;
}

/* Nueva animación */
.scale-in-hor-center {
    -webkit-animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}

/* Responsividad */
@media (max-width: 768px) {
    .text-left, .text-right {
        font-size: 3rem;
    }

    .logo {
        width: 80px;
    }
}

@media (max-width: 480px) {
    .text-left, .text-right {
        font-size: 2rem;
    }

    .logo {
        width: 60px;
    }
}
