* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #2f5061, rgb(25, 54, 40));
    margin: 0;
}

.login-container {
    background-color: #dcdcdc; /* Fondo de la tarjeta */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

#login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: black;
    display: flex; /* Esto asegura que la imagen y el texto se alineen horizontalmente */
    justify-content: center;
    align-items: center;
}

#login-form h2:before {
    content: '';
    background-image: url('/assets/images/Logo.png'); /* Asegúrate de poner la ruta correcta de la imagen */
    background-size: contain; 
    background-repeat: no-repeat;
    width: 40px; /* Ajusta el tamaño según la imagen */
    height: 40px; /* Ajusta el tamaño según la imagen */
    display: inline-block;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}


input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #444;
}

p {
    margin-top: 20px;
    font-size: 14px;
}

p a {
    color: #333;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
